@use "_fonts.scss";




.about {
  font-family: "Tilt", Calibri, sans-serif;
  color: hsl(232, 10%, 34%);
 max-width: 800px;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  flex-direction: column;
  margin: 0 auto;
  


  

.team-photo{
    text-align: center;

}



}




