@use "_fonts.scss";

.mentions-legales{
        font-family: "Tilt", Calibri, sans-serif;
        color: hsl(232, 10%, 34%);
        width: 50vw;
        margin: auto;

    h2{
        margin-bottom: 50px;
    }

    h3{
        font-size: 22px;
        margin-bottom: 25px;
    }

    p{
        font-size: 14px;
    }
}